@tailwind base;

@tailwind components;

@tailwind utilities;


main{
    width: 500px;
    max-width: 80vw;
}

#questions-container{
    width: 100%;
    height: 700px;

    overflow-y: auto;
    
    @apply rounded-sm shadow-md my-3;
}

.question{
    @apply p-4;
}

.question:hover{
    @apply bg-gray-100;
}

.toolbar{
    @apply flex flex-row-reverse;
}

.answer{
    @apply text-center p-1 bg-gray-100 text-gray-100 w-16;
}

.answer:hover{
    @apply text-gray-500;
}

#editor textarea, #preview{
    min-height: 64px;
    @apply w-full px-3 py-2 my-1 text-gray-700 border rounded-sm;
}

#editor textarea:focus{
    @apply outline-none;
}

#submit{
    @apply bg-blue-600 text-gray-200 rounded px-4 py-2 float-right my-1;
}

#submit:hover{
    @apply bg-blue-500;
}

#submit:focus{
    @apply outline-none;
}

#buttons button{
    @apply h-8 w-32 bg-gray-300 outline-none opacity-75;
}

#buttons button:hover{
    @apply opacity-100;
}

#buttons button.active{
    @apply bg-green-500;
}