@tailwind base;

@tailwind components;

@tailwind utilities;


main{
    width: 500px;
    max-width: 80vw;
}

#questions-container{
    width: 100%;
    height: 700px;

    overflow-y: auto;
    
    @apply rounded-sm shadow-md my-3;
}

.question{
    @apply p-4;
}

.question:hover{
    @apply bg-gray-100;
}